        body {
            background: #dedede;
            font-family: 'Rubik', sans-serif;
            font-size: 13pt;
            font-weight: normal;
            line-height: 1.3em;
            color: #454545;
        }
        
        #stage-container {
            background: #dedede;
            position: absolute;
            display: block;
            width: 100%;
            height: 700px;
            left: 0px;
            top: 0px;
            overflow-x: hidden!important;
        }
        
        #output-container {
            background: #454545;
            position: absolute;
            display: block;
            width: 60%;
            height: 100%;
            left: 0px;
            top: 0px;
        }
        
        #input-container {
            background: #787878;
            position: relative;
            display: block;
            width: 40%;
            height: 100%;
            left: 60%;
            top: 0px;
        }
        
        #training-container {
            background: #232323;
            position: absolute;
            display: block;
            width: 100%;
            height: 110px;
            right: 0px;
            bottom: 0px;
        }
        
        .section-label {
            display: inline-block;
            position: relative;
            /* background: white; */
            border: 1px dashed white;
            /* opacity: 0.45; */
            font-size: .85em;
            font-weight: normal;
            line-height: 1.5em;
            letter-spacing: 2pt;
            text-transform: uppercase;
            color: white;
            height: auto;
            width: auto;
            margin: 8px 0 0 8px;
            text-align: center;
            padding: 3px 10px 3px 10px;
        }
        
        #input_video {
            display: block;
            position: relative;
            margin: 7% 0 0 70%;
            padding: 0;
            height: 250px!important;
            width: auto;
            border: 4px solid white;
            box-shadow: 0px 2px 2px #666;
        }
        
        #output_video {
            position: absolute;
            width: 640px;
            height: auto;
            top: 12.5%;
            left: 17%;
        }
        
        li {
            float: left;
        }
        
        ul#trainingBtns {
            position: absolute;
            display: block;
            width: 88%;
            height: 80px;
            left: 16%;
            top: 0px;
        }
        
        ul#trainingBtns li {
            width: 19%;
            height: 100%;
            list-style-type: none;
            background: none;
            border: 0px solid red;
        }
        
        li span {
            position: relative;
            right: 0;
            display: block;
            font-size: 1em;
            font-weight: normal;
            margin: -70px 0 0px 76px;
            text-align: left;
            color: white;
            padding: 2px;
            opacity: .8;
            width: 180px;
            border: 0px solid white;
        }
        
        button {
            display: block;
            position: relative;
            margin-top: 6px;
            padding: 0;
            width: 70px;
            height: 70px;
            color: white;
            text-align: center;
            font-size: 1.2em;
            border-radius: 50%;
            background: white;
            opacity: .95;
            border: none;
            cursor: pointer;
        }
        
        li button {
            background: #35D9FE;
            box-shadow: 3px 3px 6px #111;
            border: none!important;
            outline: none!important;
        }
        
        li button:active,
        li button:hover {
            background: rgb(221, 207, 8)!important;
            box-shadow: 0px 0px 0px #111;
            border: none !important;
            outline: none !important;
        }
        
        .meter {
            display: inline-block;
            position: absolute;
            margin: 6px 0 0 80px;
            padding: 3px;
            background: 121212;
            height: 10px;
            width: 170px;
            border-radius: 10px;
            box-shadow: -3px -3px 3px black;
        }
        
        .meter .meterText {
            background: orange;
            width: 0%;
            height: 5px;
            margin: 0;
            padding: 0px;
            border-radius: 10px;
        }
        
        #output-selectors {
            display: block;
            position: absolute;
            right: 0;
            bottom: 180px;
            width: 60%;
            height: 50px;
            text-align: center;
            border: 0px solid yellow;
        }
        
        .thumbnail {
            display: block;
            width: 50px;
            height: 50px;
            margin-left: 10px;
            border: 0px solid white;
            cursor: pointer;
            background: black;
        }
        
        img {
            border: 0;
            width: 70%;
            height: 70%;
        }
        
        a,
        a img {
            outline: none
        }
        
        a:active {
            color: rgb(206, 80, 7);
            cursor: pointer;
        }
        
        a:visited {
            color: rgb(6, 162, 209);
        }
        
        .label {
            color: white;
            text-transform: capitalize;
        }
        
        #story-container {
            display: block;
            position: absolute;
            margin: 45% 10% auto;
            margin-bottom: 200px;
            width: 80%;
            border: 0px solid red;
        }
        
        #left-col {
            float: left;
            width: 40%;
        }
        
        #right-col {
            float: right;
            width: 36%;
            margin-left: 20px;
        }
        
        .col {
            font-size: 1.1em;
            line-height: 1.75em;
            color: #676767;
        }
        
        .right-col-copy {
            width: 70%;
        }
        
        h4 {
            color: #232323;
            font-weight: bold;
            margin-top: 20px;
            line-height: 2em;
        }
        
        ol {
            margin-top: -10px;
            margin-left: -20px;
        }
        
        ol li {
            margin-top: 20px;
        }
        
        b {
            font-weight: bold;
            color: rgb(206, 80, 7);
        }